@model Photoshop.Model.Order

@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section VKInit
{
    fillUserData();
}

@section HeadContent
{
    <script type="text/javascript">
        function fillUserData() {
            VK.api();
        }
    </script>
}

<h2>Complete</h2>

<div>
@Html.EditorFor(m => m.Address)

</div>